body {
  background-color: #96a8c5;
}

.mdl-layout__header-row {
  background-color: #7f83ad;
  color: #03084f;
  align-items: center;
  justify-content: center;
}

h4 {
  color: #03084f;
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 37%;
}

p {
  color: #03084f;
  padding: 10px;
  text-align: center;
}
